# Required. Send it as: Authorization: Bearer <this value>
AMAZON_API_KEY=replace-me

# Optional
HOST=127.0.0.1
PORT=8792
AMAZON_DEFAULT_REGION=us
AMAZON_COOKIE_DIR=~/.amazon-cart
# AMAZON_PERSONAL_COOKIES=~/.amazon-cart/cookies-personal.txt
# AMAZON_BUSINESS_COOKIES=~/.amazon-cart/cookies-business.txt
